<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @car.name %>
</p>

<p>
  <b>Company:</b>
  <%= @car.company %>
</p>

<p>
  <b>Wheels:</b>
  <%= @car.wheels %>
</p>

<p>
  <b>Color:</b>
  <%= @car.color %>
</p>

<p>
  <b>Doors:</b>
  <%= @car.doors %>
</p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
